@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bill-blue: #0e5acc;
  --bill-blue-rgb: 14, 90, 204;
  --bill-pink: #fc5ab6;
  --bill-pink-rgb: 252, 90, 182;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-bill-blue: #0e5acc;
  --color-bill-light-blue: #73b4ff;
  --color-bill-pink: #fc5ab6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom gradient for background */
.bg-gradient-bill {
  background-image: linear-gradient(to bottom, black, rgba(var(--bill-blue-rgb), 0.5), var(--bill-blue));
}

/* Desktop sidebar layout class */
@media (min-width: 1024px) {
  .desktop-with-sidebar {
    padding-left: 16rem; /* 64px or 256px, matching the sidebar width */
  }
}

@keyframes slow-rise {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-tip {
  animation: slow-rise 0.5s ease-in;
}

.animate-rise {
  animation: slow-rise 1.5s ease-out;
}

.animate-rise-2 {
  animation: slow-rise 3s ease-out;
}