/* styles/nprogress.css */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #fc5ab6; /* bill-pink color */
  position: fixed;
  z-index: 999999999; /* Ensure it's above everything */
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #fc5ab6, 0 0 5px #fc5ab6;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove spinner */
#nprogress .spinner {
  display: none;
}
